<!-- [src]="condition" 으로 아이콘 조건 처리 예정 -->
<footer class="footer">
    <nav class="nav">
        <ul class="nav_list">
            <li class="nav_item">
                <a rounterLink="/">
                    <img src="/assets/images/nav01.png" style="width:24px;"><br> 홈
                </a>
            </li>
            <li class="nav_item">
                <a rounterLink="/">
                    <img src="/assets/images/nav02.png" style="width:24px;"><br> 지역
                </a>
            </li>
            <li class="nav_item">
                <a rounterLink="/">
                    <img src="/assets/images/nav03.png" style="width:24px;"><br> 검색
                </a>
            </li>
            <li class="nav_item">
                <a rounterLink="/">
                    <img src="/assets/images/nav04.png" style="width:24px;"><br> 주변
                </a>
            </li>
            <li class="nav_item">
                <a rounterLink="/">
                    <img src="/assets/images/nav05.png" style="width:24px;"><br> MY
                </a>
            </li>
        </ul>
    </nav>
</footer>