<!-- [src]="condition" 으로 아이콘 조건 처리 예정 -->
<footer class="footer">
    <nav class="nav">
        <ul class="nav_list">
            <li class="nav_item">
                <a routerLink="/" routerLinkActive="on" [routerLinkActiveOptions]="{exact:true}">홈</a>
            </li>
            <li class="nav_item">
                <a routerLink="/area" routerLinkActive="on">지역</a>
            </li>
            <li class="nav_item">
                <a routerLink="/search" routerLinkActive="on">검색</a>
            </li>
            <li class="nav_item">
                <a routerLink="/around" routerLinkActive="on">주변</a>
            </li>
            <li class="nav_item">
                <a routerLink="/my" routerLinkActive="on">MY</a>
            </li>
        </ul>
    </nav>
</footer>