<div class="content">
    <h2 class="item_tit">도시정보 <span class="item_info">&middot; 한국의 도시들이에요</span></h2>
    <ul class="cities_list">
        <li 
            class="cities_item"
            *ngFor="let item of cities"
            [class.on]="selectedCity === item.code"
        >
            <a (click)="onChangeLocation(item.code)" title="{{item.name}}에 속한 지역 정보 보기">
                <img src="/assets/images/cities/city_{{item.code}}.jpg" alt="{{item.name}}">
                <span>{{item.name}}</span>
            </a>
        </li>
    </ul>
</div>
<div class="content noline">
    <h2 class="item_tit">지역정보 <span class="item_info">&middot; 선택한 지역의 공식 사이트에요</span></h2>
    <ul>
        <li 
            class="local_item"
            *ngFor="let item of locations"
        >
            {{item.code}} - {{item.name}}
        </li>
    </ul>
</div>