<div class="content">
    <h2 class="item_tit">도시정보 <span class="item_info">&middot; 각 도시의 목록입니다</span></h2>
    <ul class="cities_list">
        <li 
            class="cities_item"
            *ngFor="let item of cities"
        >
            <img src="/assets/images/cities/city_{{item.code}}.jpg" alt="{{item.name}}">
            <span>{{item.name}}</span>
        </li>
    </ul>
</div>

<!-- <div class="content">
    <h2 class="item_tit">지역정보 <span class="item_info">&middot; 선택한 지역의 정보를 볼 수 있습니다.</span></h2>
    <div class="local_box">
        <a href="/" class="local_close" data-state="close">더보기</a>
        <ul class="local_list">
            <li class="local_item"><a href="http://www.gangnam.go.kr/contents/tourgangnam/1/view.do?mid=FM010406" target="_blank">강남구</a></li>    
        </ul>
    </div>
</div> -->