<div class="search_container">
    <div class="search_head">
        <a class="prev" (click)="pageBack()">
            <img src="/assets/images/search/search_close.png" alt="이전으로">
        </a>
        <div class="search">
            <input
                type="text"
                id="searchbar"
                placeholder="검색어를 입력해주세요."
                (keypress)="searchHandler($event)"
            >
            <button>
                <img src="/assets/images/search/search_glasses.png" alt="검색">
            </button>
        </div>
    </div>

    <div class="search_history" [ngClass]="searchHistory.length > 0 ? 'keep' : ''">
        <p *ngIf="searchHistory.length <= 0">최근 검색한 기록이 없어요</p>
        <a href="/" *ngFor="let item of searchHistory">{{item}}</a>
        <button
            *ngIf="searchHistory.length > 0"
            (click)="clearHistory()"
        >
        기록 전체 삭제
        </button>
    </div>

    <div class="search_empty" *ngIf="!searchResult">
        <p *ngIf="!searchResultEmpty">
            평소에 궁금하셨던 <br>
            <strong>도시, 지역, 숙박, 맛집, 쇼핑</strong> 등<br>
            필요한 키워드로 검색해주세요<br>
            최대한 빨리 찾아드릴께요
        </p>
        <p *ngIf="searchResultEmpty">
            <strong>"{{searchWord}}"</strong>의<br>
            검색한 결과가 없어요<br>
            올바른 문구로 검색해주세요
        </p>
    </div>

    <div class="search_result" *ngIf="searchResult">
        <div class="result_head">
            <h2 class="result_info"><strong>"{{searchWord}}"</strong>로 검색한 결과에요</h2>
            <p>총 <strong>{{searchTotalCount}}</strong> 건</p>
        </div>
        <div class="result_list" *ngIf="!searchResultEmpty">
            <ul class="content_list leftAlign">
                <li
                    class="content_item"
                    *ngFor="let item of searchResult"
                >
                    <div class="content_thumb">
                        <img [src]="item.firstimage ? item.firstimage : '/assets/images/not_found.png'" [class.no_image]="!item.firstimage">
                    </div>
                    <div class="content_txt_box">
                        <p title="{{item.title}}">{{item.title}}</p>
                        <span title="{{item.addr1}}">{{item.addr1}}</span>
                        <span title="{{item.tel}}">{{item.tel}}</span>
                    </div>
                </li>
            </ul>
            <button
                class="result_more"
                (click)="listMore(searchWord)"
            >더보기</button>
        </div>
    </div>
</div>