@font-face{ 
    font-family:'tf';
    src: url('./assets/fonts/fontYouandiModernTR.ttf');
    src:local(※), url('./assets/fonts/fontYouandiModernTR.ttf') format(ttf)
}

@import './assets/styles/reset';
@import './assets/styles/mixin';
@import './assets/styles/color';
@import './assets/styles/layout';
@import './assets/styles/home';