.cities_list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .cities_item {
    position: relative;
    flex: 0 0 auto;
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 12px;
      opacity:.5;
      -webkit-filter:grayscale(100%);
      filter:grayscale(100%);
    }

    span {
      position: absolute;
      left: 5px;
      top: 5px;
      right: 5px;
      font-size: 14px;
      color: #fff;
      text-shadow: -2px -2px 4px #000, 2px 2px 4px #000;
    }

    &.on {
      img {
        opacity:1;
        -webkit-filter:grayscale(0);
        filter:grayscale(0);
      }
    }
  }
}

.local_box {
  position: relative;
  padding: 10px 7px 25px 7px;
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1;

  > a {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 12px;
    color: #666;

    &:before {
      content: '';
      position: relative;
      top: -2px;
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-right: 6px;
      border-left: 1px solid #888;
      border-top: 1px solid #888;
      transform: rotate(-135deg);
    }

    &[data-state="open"]:before {
      top: 1px;
      transform: rotate(45deg);
    }
  }

  .local_list {
    max-height: 56px;
    overflow: hidden;

    li {
      display: inline-block;

      a {
        display: block;
        font-size: 13px;
        padding: 4px 8px;
      }
    }
  }
}

.content_list {
  display:flex;
  flex-wrap:wrap;
}
.content_item {
  position:relative;
  flex:1;
  flex-basis:50%;
  padding:0 0 55px;
  margin:40px 0 0;
  &:nth-child(-n+2) {
    margin-top:0;
  }
  &:nth-child(odd) {
    padding-right:5px;
  }
  &:nth-child(even) {
    padding-left:5px;
  }

  .content_thumb {
    overflow:hidden;
    height:180px;
    border-top-left-radius:12px;
    border-top-right-radius:12px;
    box-shadow:0 -2px 4px 0 rgba(0, 0, 0, .1);

    img {
      object-fit: contain;
      transition:all .2s ease-out;
    }
  }

  .content_txt_box {
    position:absolute;
    left:15px;
    right:15px;
    bottom:0;
    padding:15px;
    border-radius:12px;
    box-shadow:0 2px 6px 0 rgba(0, 0, 0, .1);
    background-color:#fff;
    transition:bottom .5s;

    p {
      @include ellipsis;
      font-size:18px;
    }

    span {
      display:block;
      @include ellipsis;
      font-size:13px;
      color:#999
    }
  }

  &:hover {
    .content_thumb {
      img {
        transform:scale(1.05)
      }
    }
    .content_txt_box {
      bottom:10px;
    }
  }
}