.cities_list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .cities_item {
    position: relative;
    flex: 0 0 auto;
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 12px;
      opacity:.5;
      -webkit-filter:grayscale(100%);
      filter:grayscale(100%);
    }

    span {
      position: absolute;
      left: 5px;
      top: 5px;
      right: 5px;
      font-size: 14px;
      color: #fff;
      text-shadow: -2px -2px 4px #000, 2px 2px 4px #000;
    }

    &.on {
      img {
        opacity:1;
        -webkit-filter:grayscale(0);
        filter:grayscale(0);
      }
    }
  }
}

.local_box {
  position: relative;
  padding: 10px 7px 25px 7px;
  background-color: #f7f7f7;
  border: 1px solid #e1e1e1;

  > a {
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 12px;
    color: #666;

    &:before {
      content: '';
      position: relative;
      top: -2px;
      display: inline-block;
      width: 6px;
      height: 6px;
      margin-right: 6px;
      border-left: 1px solid #888;
      border-top: 1px solid #888;
      transform: rotate(-135deg);
    }

    &[data-state="open"]:before {
      top: 1px;
      transform: rotate(45deg);
    }
  }

  .local_list {
    max-height: 56px;
    overflow: hidden;

    li {
      display: inline-block;

      a {
        display: block;
        font-size: 13px;
        padding: 4px 8px;
      }
    }
  }
}

.content_list {
  display:flex;
  flex-wrap:wrap;
}
.content_item {
  position:relative;
  flex:1;
}

// 썸네일 스타일
.content_list.thumb {
  .content_item {
    flex-basis:100%;
    padding:0 0 55px;
    margin:40px 0 0;
    &:first-child {
      margin-top:0;
    }
    .content_thumb {
      overflow:hidden;
      height:180px;
      border-top-left-radius:12px;
      border-top-right-radius:12px;
      text-align:center;
      box-shadow:0 -2px 4px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .1);

      img {
        height:180px;
        object-fit: cover;
        transition:all .2s ease-out;
        &.no_image {
          width:120px;
          height:120px;
          margin-top:12px;
        }
      }
    }

    .content_txt_box {
      position:absolute;
      left:15px;
      right:15px;
      bottom:0;
      padding:15px;
      border-radius:12px;
      box-shadow:0 2px 6px 0 rgba(0, 0, 0, .1), 0 -1px 2px 0 rgba(0, 0, 0, .1);
      background-color:#fff;
      transition:bottom .5s;

      p {
        @include ellipsis;
        font-size:18px;
      }

      span {
        display:block;
        @include ellipsis;
        font-size:13px;
        color:#999
      }
    }

    &:hover {
      .content_thumb {
        img {
          transform:scale(1.05)
        }
      }
      .content_txt_box {
        bottom:10px;
      }
    }

    @media (min-width:500px) {
      flex-basis:calc(50% - 6px);
      &:nth-child(-n+2) {
        margin-top:0;
      }
      &:nth-child(odd) {
        margin-right:6px;
      }
      &:nth-child(even) {
        margin-left:6px;
      }
    }
  }
}

// 폴라로이드 스타일
.content_list.polaroid {
  position:relative;
  flex-wrap:nowrap;
  overflow-x:auto;
  padding:10px 0 0;
  box-shadow:0 -1px 0 #000;

  &::-webkit-scrollbar {
    display: none;
  }
  .content_item {
    flex:0 0 auto;
    flex-basis:200px;
    padding:0;
    border:1px solid #ddd;
    margin:0 0 0 12px;

    &:first-child {
      margin-left:0
    }

    &:before {
      content:'';
      position:absolute;
      top:-14px;
      left:30px;
      width:1px;
      height:20px;
      background-color:#000;
    }
    &:after {
      content:'';
      position:absolute;
      top:-14px;
      right:30px;
      width:1px;
      height:20px;
      background-color:#000;
    }
    .content_thumb {
      &:before {
        content:'';
        position:absolute;
        top:2px;
        left:28px;
        width:5px;
        height:5px;
        background:#000;
        border-radius:50%;
      }
      &:after {
        content:'';
        position:absolute;
        top:2px;
        right:28px;
        width:5px;
        height:5px;
        background:#000;
        border-radius:50%;
      }
      padding:10px;
      height:180px;
      text-align:center;

      img {
        height:160px;
        object-fit:cover;
        &.no_image {
          width:120px;
          height:120px;
          margin-top:12px;
        }
      }
    }

    .content_txt_box {
      padding:8px 12px 20px;
    }
  }
}

.content_list.leftAlign {
  display:block;
  flex-wrap:unset;

  .content_item {
    flex:auto;
    display:flex;
    margin-top:30px;
    align-items: center;

    &:first-child {
      margin-top:0;
    }

    .content_thumb {
      overflow:hidden;
      flex:0 0 auto;
      flex-basis:100px;
      height:80px;
      img {
        height:80px
      }
    }
    .content_txt_box {
      flex:1;
      padding:0 0 0 10px;
      p {
        font-weight:bold;
      }
      span {
        display:block;
        font-size:13px;
        color:#999
      }
    }
  }
}