.search_container {
    height:calc(100vh - 60px)
}
.search_head {
    position:relative;
    display:flex;
    align-items:center;
    padding:30px 20px;

    .prev {
        flex:0 0 30px;
        height:38px;
        margin-right:10px;
        text-align:center;
        @include valign(20px);
    }

    .search {
        position:relative;
        flex:1;
        padding:0 35px 0 0;

        input {
            width:100%;
            border:1px solid #ddd;
            border-radius:12px;
            font-size:16px;

            &::-webkit-input-placeholder {
                font-size:14px;
            }
        }
        button {
            position:absolute;
            right:0;
            top:0;
            width:38px;
            height:38px;
            padding:0;
            text-align:right;
            border:0 none;
            background-color:inherit;
            outline:none;
            cursor:pointer;
            @include valign(20px);
        }
    }
}

.search_history {
    padding:20px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;

    p {
        text-align:center;
    }
}

.search_empty {
    display:table;
    width:100%;
    height:calc(100% - 164px);

    p {
        display:table-cell;
        line-height:2;
        text-align:center;
        vertical-align:middle;
    }
}

.search_result {
    padding:20px 20px 80px;

    .result_head {
        display:flex;
        justify-content: space-between;
        padding:0 0 12px;

        .result_info {
            font-size:15px;
            strong {
                margin-right:6px;
                font-size:20px;
            }
        }

        p {
            font-size:13px;

            strong {
                font-size:16px;
            }
        }
    }

}